.fact-button {
  border-radius: 15px;
  background-color: bisque;
  padding: 15px;
  margin-top: 35px;
  font-size: 0.9rem;
  height: 10vh;
  width: 15vw;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 0.9rem;
}
