.footer {
  height: 30px;
  width: 100vw;
  background-color: chartreuse;
  /* margin-top: auto;*/
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 0.7rem;
}
